<div class="d-flex align-items-center justify-content-center h-100">
    <div
        class="error-container text-center d-flex flex-column align-items-center justify-content-center gap-4"
    >
        <h1 class="display-1 text-danger">404</h1>
        <h2 class="mb-4">Oops! Page not found!</h2>
        <p class="lead">
            The page you are looking for doesn't exist. Let's go
            <a routerLink="/home" class="text-primary fw-bold">home</a> and try
            again!
        </p>
    </div>
</div>
