.pet-image img {
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    border: 5px solid #f7f7f7;
}

.edit-form {
    width: 100%;
}

.post-content {
    overflow: visible;
    overflow-wrap: anywhere;
}

.title-container {
    width: 60%;
    text-align: center;
}

.title-container h2 {
    overflow: visible;
    overflow-wrap: anywhere;
}

.user-details img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    border: 3px solid #ff8929;
}

h2 {
    font-size: 3em;
    font-weight: bold;
}

.title-container p {
    font-size: 1.5em;
}

.post-content,
.edit-form {
    max-width: 90%;
}

.text-warning,
.fa-edit {
    color: #d8ac27 !important;
}

.text-danger,
.fa-trash {
    color: #de5464 !important;
}
