.wrapper {
    position: relative;
    height: 100%;
    max-height: 72vh;
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
}

.main-container {
    flex: 0 0 45%;
    padding-bottom: 5px;
    background-color: #f7f7f7;
}

.img-wrapper {
    flex: 0 0 55%;
    overflow: hidden;
    position: relative;
}

.background-img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

h1 {
    font-size: 5em;
    font-weight: bold;
}

.lead {
    font-size: 2em;
}

.btn {
    font-size: 1.5em;
    font-weight: bold;
}

.col-lg-8 {
    min-width: 80%;
}
