.card {
    cursor: pointer;
    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    object-fit: cover;
    height: 200px;
    width: 100%;
}

.post-label {
    color: black !important;
}

h2 {
    font-size: 4em;
    font-weight: bold;
}

@media screen and (max-width: 767px) {
    h2 {
        font-size: 3rem;
    }
}
