/* You can add global styles to this file, and also import other style files */
@import "@fortawesome/fontawesome-free/css/all.min.css";

/* :root {
    --bs-primary: #62440b;
} */

* {
    font-family: "Baloo 2", sans-serif;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.enlarge-on-hover {
    transition:
        transform 0.3s ease,
        background-color 0.3s ease;
}

.enlarge-on-hover:hover {
    transform: scale(1.15);
}

.color-blue {
    color: #4eb0ff !important;
}

.bg-blue {
    background-color: #4eb0ff !important;
}

.bg-blue-faded {
    background-color: #8bcbff !important;
}

.color-white {
    color: #f7f7f7 !important;
}

.btn-white {
    background-color: #f7f7f7 !important;
}

.color-orange {
    color: #eb8b3d !important;
}

/* eb8b3d */
/* da8d4e */

/* ff8929 */

.bg-orange {
    background-color: #eb8b3d !important;
}

.bg-orange:hover {
    background-color: #ea6900 !important;
}

.bg-orange-light {
    background-color: #f0a96f !important;
}

.outline-gray {
    text-shadow:
        1px 1px 0 rgb(48, 47, 47),
        -1px -1px 0 rgb(48, 47, 47),
        1px -1px 0 rgb(48, 47, 47),
        -1px 1px 0 rgb(48, 47, 47);
}

.bold {
    font-weight: bold;
}

.btn-danger {
    background-color: #de5464 !important;
}
