<header class="bg-success text-white py-3 bg-blue">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <a class="enlarge-on-hover" routerLink="/home">
                <h1 class="h1 mb-0 logo">
                    <span class="outline-gray">
                        P<span class="color-orange">-</span>Pals
                        <i class="fa-solid fa-paw color-orange"></i>
                    </span>
                </h1>
            </a>
        </div>

        <div>
            <ul class="nav">
                @if (isLoggedIn) {
                    <li class="nav-item">
                        <a
                            class="btn btn-light btn-sm me-2 enlarge-on-hover btn-white"
                            routerLink="/profile"
                        >
                            My Profile
                        </a>
                    </li>
                    <li class="nav-item">
                        <button
                            class="btn btn-danger btn-sm enlarge-on-hover"
                            (click)="logout()"
                        >
                            Logout
                        </button>
                    </li>
                } @else {
                    <li class="nav-item">
                        <a
                            class="btn btn-light btn-sm me-2 enlarge-on-hover btn-white"
                            routerLink="/login"
                        >
                            Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <a
                            class="btn btn-primary btn-sm enlarge-on-hover bg-orange out"
                            routerLink="/register"
                        >
                            Register
                        </a>
                    </li>
                }

                <button
                    class="navbar-toggler"
                    type="button"
                    (click)="toggleMenu()"
                    id="menuButton"
                >
                    <i
                        class="fas"
                        [class.fa-bars]="!menuOpen"
                        [class.fa-times]="menuOpen"
                    ></i>
                </button>

                <div class="menu-overlay" [class.active]="menuOpen">
                    <ul class="menu-items">
                        @if (!isLoggedIn) {
                            <li class="nav-item">
                                <a routerLink="/home" (click)="closeMenu()"
                                    >Home</a
                                >
                            </li>
                            <hr />
                        }
                        <li class="nav-item">
                            <a routerLink="/posts" (click)="closeMenu()"
                                >All Posts</a
                            >
                        </li>

                        <hr />

                        @if (isLoggedIn) {
                            <li class="nav-item">
                                <a routerLink="/my-posts" (click)="closeMenu()"
                                    >My Posts</a
                                >
                            </li>

                            <hr />
                        }

                        <li class="nav-item">
                            <a routerLink="/add-post" (click)="closeMenu()"
                                >New Post</a
                            >
                        </li>

                        <hr />
                    </ul>
                </div>
            </ul>
        </div>
    </div>

    <nav class="bg-success py-2 nav-buttons bg-blue d-none d-md-flex">
        <div class="container">
            <ul class="nav justify-content-center">
                @if (!isLoggedIn) {
                    <li class="nav-item">
                        <a
                            class="btn btn-light mx-1 enlarge-on-hover btn-white"
                            routerLink="/home"
                            >Home</a
                        >
                    </li>
                }
                <li class="nav-item">
                    <a
                        class="btn btn-light mx-1 enlarge-on-hover btn-white"
                        routerLink="/posts"
                        >All Posts</a
                    >
                </li>

                @if (isLoggedIn) {
                    <li class="nav-item">
                        <a
                            class="btn btn-light mx-1 enlarge-on-hover btn-white"
                            routerLink="/my-posts"
                            >My Posts</a
                        >
                    </li>
                }

                <li class="nav-item">
                    <a
                        class="btn btn-light mx-1 enlarge-on-hover btn-white"
                        routerLink="/add-post"
                        >New Post</a
                    >
                </li>
            </ul>
        </div>
    </nav>
    <div class="shadow-test"></div>
</header>
