<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-10">
            <div class="card">
                <div class="card-header bg-primary text-white text-center">
                    <h2>Login</h2>
                </div>
                <div class="card-body">
                    <form class="login" #form="ngForm" (ngSubmit)="login(form)">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input
                                type="email"
                                name="email"
                                id="email"
                                class="form-control"
                                placeholder="Enter your email"
                                required
                                ngModel
                                #inputEmail="ngModel"
                                appEmailVal
                            />
                            <div class="text-danger">
                                @if (inputEmail?.touched) {
                                    @if (inputEmail?.errors?.["required"]) {
                                        Email is required!
                                    }
                                    @if (
                                        inputEmail?.errors?.["emailValidator"]
                                    ) {
                                        Email is not valid!
                                    }
                                }
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label"
                                >Password</label
                            >
                            <input
                                type="password"
                                name="password"
                                id="password"
                                class="form-control"
                                placeholder="Enter your password"
                                required
                                ngModel
                                #inputPassword="ngModel"
                                minlength="6"
                            />
                            <div class="text-danger">
                                @if (inputPassword?.touched) {
                                    @if (inputPassword?.errors?.["required"]) {
                                        Password is required!
                                    }
                                    @if (inputPassword?.errors?.["minlength"]) {
                                        Password must be at least 6 characters
                                        long!
                                    }
                                }
                            </div>
                        </div>

                        <div class="d-grid">
                            <button
                                type="submit"
                                class="btn btn-primary"
                                [disabled]="form.invalid"
                            >
                                Login
                            </button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <p>
                        Don't have an account?
                        <a routerLink="/register" class="text-primary"
                            >Register</a
                        >
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
